@charset "UTf-8";
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header{
    background-color:#212121 ;
    height: 75px;
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
    color:#D4D4D4;
}
nav{
    background-color: #FFC700;
    height:55px ;
    padding: 15px;
    min-width: none;
    max-width: none;
    
    
}
nav > a {
    text-decoration: none;
    font-size: 1.5em;
    padding: 8px;
    background-color: white;
    color:black;
    border-radius: 5px;
    margin-right: 8px;
    text-align: center;

    

}
main{
    max-width: 1000px;
    min-width: 350px;
    background-color: #363636;
    margin: auto;

}
.banner{
    background-color: black;
    height: 300px;
    color: white;

}
.titulos{
    height: 150px;
    font-size: 2em;

}
.titulos > p {
    color: white;
    background-color: #FFC700 ;
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    margin-right:50px;
    flex:center;
   

  
}

